---
layout: archive
title: "Warao"
permalink: /warao/
author_profile: true
---

{% include base_path %}

Este <i>dataset</i> de placas produzidas por refugiados Warao no Brasil foi produzido e anotado gramaticalmente por Dalmo Buzato e Átila Vital, discentes e pesquisadores da Universidade Federal de Minas Gerais. 
Todas as fotografias aqui presentes foram coletadas pelos autores, ou possuem autorização de uso para fins acadêmicos e científicos. <br><br>
This dataset of signs produced by Warao refugees in Brazil was created and grammatically annotated by Dalmo Buzato and Átila Vital, students, and researchers at the Federal University of Minas Gerais. 
All photographs presented were collected by the authors, or have authorization for use for academic and scientific purposes. <br><br>

<table>
        <tr>
            <td>
                <img src='/images/img018.jpeg' width='500' height='300'>
            </td>
            <td>
                <img src='/images/img023.jpg' width='500' height='300'>
            </td>
        </tr>
    </table>


<table>
  <tr>
    {% for post in site.portfolio %}
      <td>
        {% include archive-single.html %}
      </td>
      {% if forloop.index2|divisibleby:2 %}
  </tr>
  <tr>
      {% endif %}
    {% endfor %}
  </tr>
</table>


<img src='/images/img018.jpeg' width='500' height='300'><br><br>
<img src='/images/img023.jpg' width='500' height='300'>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

